#sticky-header {

}

.sticky-header {
  position: fixed;
  width: 100%;
  transition: top 0.3s;
  background: white;
  z-index: 2;
  border-bottom: 1px solid #eee;
  top: 0;
  width: 100%;
  left: 0;
}

#search-index {
  margin: 0 auto;
  margin-top: 0px;
  max-width: 1600px;
  margin-top: 10px;
}


.grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.card-category {

  background-size: cover;
  background-position: center;
  margin:0;
  height: 250px;
  // width: 350px;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content:center;
  align-items :center;
  /*when im out*/
  transition: background-color 3s ease;
  position: relative;
  z-index: 1;

  &:hover{
    /*when im in*/
    transition: background-color 1s ease;
  }



  h3 {
    color: $white;
    font-weight: bold;
    font-family: $headers-font;
    font-size: 1.6rem;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: all 2s ease;
    z-index: 3;
  }

  &:hover h3{
    /*when im in*/
    bottom: 100px;
    opacity: 1;
    transition: all 1s ease;
  }

  .fx{

    position:absolute;
    top: 0;
    left:0;
    height:100%;
    width:100%;
    opacity: 1;
    transition: all 3s ease;
    z-index: 2;
  }
  &:hover .fx{
  // background: linear-gradient(rgba(107, 39, 55, 1), rgba(248, 244, 166, 1));
  background-color: $blue;

  opacity:.7;
  transition: all 1s ease;
  }

  a{

    position:absolute;
    top: 0;
    left:0;
    height:100%;
    width:100%;
    z-index: 4;
  }

}


.search_index {
  display:flex;
  position: relative;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: 15px;
  width: 40px;
}

.card-trip-capacity .card-trip-capacity {
  position: absolute;
  right: 16px;
  top: 15px;
  width: 40px;
}

.margin {
  margin-left: 5px;
  margin-right: 5px;
}

.field {
  width: 21%;
  margin-right: 10px;
}

