.section-category {
  height: 60vh;
  padding-top: 30px;

  h2{
    text-align: center;
    font-weight:900;
    color:$blackblue;
  }
}

.section-review {
  height: 60vh;
  padding-top: 30px;
  background:white;

  h2{
    text-align: center;
    font-weight:900;
    color:$blackblue;
  }
}
