// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/*";
@import "pages/*";

.btn-primary{
background: $grayblue !important;
color: $white !important;
border:none !important;

  &:hover{
    background:$blue !important;
    color:$white !important;
    border:none !important;
  }
}

b {
  font-size: 1em !important;
  color: $blue !important;
  margin-right: 7px !important;
  font-weight: 900 !important;
}
