<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <div class="search-box">
    <h1>Réservez un bateau <strong>en quelques clics</strong>!</h1>
      <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="City"/>
        <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Date begin"/>
        <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Date end"/>
        <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Category"/>
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    </form>
    </div>
  </div>
</div>
<div class="section-category">
  <div class="container">
    <h2>Boats types</h2>
    <div class="grid">
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-review">
  <div class="container">
    <h2>Reviews</h2>
    <div class="reviews">
      <div class="review">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
        <div class="review-content">
          <p class='date'><small>14th January</small></p>
          <p class="stars">Stars</p>
          <p class='description'>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
        </div>
      </div>

      <div class="review">
        <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
        <div class="review-content">
          <p class='date'><small>9th January</small></p>
          <p class="stars">Stars</p>
          <p class='description'>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
        </div>
      </div>
          <div class="review">
        <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
        <div class="review-content">
          <p class='date'><small>9th January</small></p>
          <p class="stars">Stars</p>
          <p class='description'>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
        </div>
      </div>
          <div class="review">
        <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
        <div class="review-content">
          <p class='date'><small>9th January</small></p>
          <p class="stars">Stars</p>
          <p class='description'>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>
</div>
